*{
    padding: 0;
    margin: 0;
}
body{
    background-image: linear-gradient(to right,rgb(217, 177, 185),rgba(255, 192, 203, 0.885));
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}
.text i{
color:gainsboro;
text-align: center;
}

.bureau{
    margin-left: 110px;
    text-align: center;
}
.tel{
    margin-left: 130px;
    top: 2px;
    padding-top: 2px;    
 }


.fax{
    margin-left: 130px;
}
.courrier{
    margin-left: 110px;
}
.courrier i{
    margin-right: 10px;

}
.input{
text-align: left;
margin-left: 100PX;
}

.form2{
   width: 400px;
}
.form2 button{
    border-radius: 9%;

}
.loc{
   margin-left: 690px;
   margin-top: -380px;
   height: 1%;
}
.img{
    margin-left: 690px;
   width: 300px;
   height: 2%;
   margin-right:90px;
   margin-top: -260px;
}


@media screen and (max-width: 768px){
    .loc{
        margin-left: 80px;
       margin-top: 20px;
      
     }
     .img{
        margin-left: 60px;
        margin-top: 10px;
       min-width: 20px;
        height: 5px;
   
    }
     .input{
        text-align: left;
        margin-left: 100PX;
        }
        
}
@media screen and (max-width: 768px){
    .form2{
        width: 400px;
     }
     .bureau{
        margin-left: 110px;
        text-align: center;
        width: 27PX;
}
.text i{
    color:gainsboro;
    text-align: center;
    }

.fax{
    margin-left: 130px;
}

    
    @media screen and (max-width: 768px){
    .form2{
        margin-left: 10px;
    } 
}
    @media screen and (min-width: 769px){
       
         }
    .tel{
        margin-left: 130px;
        top: 2px;
        padding-top: 2px;    
     }   

    }
}